{% extends 'base.html.twig' %}



{% block body %}

    <h1 id="accueil" class="animated rollIn">Home Cooking</h1>


    <style>

        body{


            background:url("https://goop.com/wp-content/uploads/2017/05/kitchen-essentials-gg-featured.jpg") fixed no-repeat;

            background-size: cover;
        }



        h1{
            font-family: 'Kavivanar', cursive;
            color: red;
            font-size:5em;
            font-weight: bold;
            margin-left: 25%;
            margin-top: 10%;

        }

    </style>

{% endblock %}
